<div class="login-section">
    <div class="flex flex-wrap  justify-center">
        <div class="md:w-1/4 pr-4 pl-4"></div>
        <div class="md:w-1/2 pr-4 pl-4">
            <div class="relative flex flex-col min-w-0 rounded break-words border bg-neutral-200 border-1 border-gray-300">
                <div class="py-3 px-6 mb-0 bg-gray-300 border-b-1 border-gray-100 text-gray-900" style="text-align: center">
                    <h4>Login</h4>
                </div>
                <div class="flex-auto p-6">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-4 flex flex-wrap ">
                            <input type="text" id="email" [formControlName]="'email'" name="email" placeholder="Username or Email" title="username or email" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" required autofocus>
                            <span class="error-text-span" *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched"> Provide a valid username or email </span>
                        </div>

                        <div class="mb-4 flex flex-wrap ">
                            <input type="password" id="password" [formControlName]="'password'" placeholder="password" title="password" name="password" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" required>
                            <span class="error-text-span" *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched"> Password cannot be empty </span>
                        </div>

                        <div class="mb-4 flex flex-wrap justify-center">
                            <button type="submit" class="login" [disabled]="loginForm.invalid"> Login </button>
                        </div>

                        <!-- <div class="login-failed" *ngIf='this.isError'>
                            <p class="login-failed-text">Login Failed. Please check your credentials and try again.</p>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
        <div class="md:w-1/4 pr-4 pl-4"></div>
    </div>
</div>