<header class="flex items-center justify-between px-6 py-1 text-white bg-neutral-800">
  <div class="flex items-center justify-center">
    <a routerLink="" aria-label="Home" class="logo flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 287" class="icon-svg">
        <path fill="#000" d="M128 0L0 24.8v237.9l128 74.3 128-74.3V24.8L128 0z" />
        <path fill="#fff" d="M128 120.5L77.5 87.8v53.1H53.1V56.7h24.4v53.3L128 120.5zM128 169.5l50.5-32.7V88.7h24.4v128.7h-24.4v-53.1zM77.5 199.2l-24.4 15.8V71.1l24.4 14.9v113.2z" />
      </svg>
      <span class="ml-2 text-xl font-bold">JLog </span>
    </a>
  </div>

  <div class="flex items-center">
    <div *ngIf="!isLoggedIn">
      <a routerLink="/register" class="float-right register mr-2">Register</a>
      <a routerLink="/login" class="float-right login mr-2">Login</a>
    </div>

    <div *ngIf="isLoggedIn">
      <!-- dropdown-menu.component.html -->
      <div class="relative">
        <button type="button" class="inline-flex justify-center items-center space-x-2 px-4 py-2 border border-transparent rounded-md font-semibold text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" (click)="isDropdownOpen = !isDropdownOpen">
          <span>{{username}}</span>
          <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10.293 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L10 12.586l3.293-3.293a1 1 0 011.414 1.414l-4 4z" clip-rule="evenodd" />
          </svg>
        </button>

        <div class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100" *ngIf="isDropdownOpen" style="z-index: 10;">
          <a routerLink="/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Profile</a>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" (click)="logout()" role="menuitem">Logout</a>
        </div>
      </div>


    </div>



  </div>
</header>