header {
  border-radius: 1px solid;
}
.icon-svg {
  height: 40px;
  padding: 8px 8px 8px 0;
  width: 40px;
}

.logo {
  text-decoration: none;
}

.login,
.register {
  color: #0079d3;
  fill: #0079d3;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}
.register {
  background-color: #0079d3;
  border-color: #0079d3;
  color: aliceblue;
}

.login {
  background-color: #00d335;
  border-color: #0079d3;
  color: aliceblue;
}

.register:hover,
.login:hover {
  opacity: 0.6;
}
