<div class="container mx-auto sm:px-4">
    <div class="flex flex-wrap ">
        <hr />
        <div class="md:w-3/4 pr-4 pl-4">
            <div class="flex flex-wrap  post">
                <div class="md:w-1/6 pr-4 pl-4">
                    <app-vote-button [post]="post"></app-vote-button>
                </div>
                <div class="md:w-5/6 pr-4 pl-4">
                    <span>
                        <span class="group-text"><a class="post-url" href="">{{post.groupUrl? post.groupUrl: "None"}}</a></span>
                        <span> . Posted At
                            <span> {{post.createdAt}} </span>
                            by
                            <a *ngIf="post.authorName === null" class="username" href="">Anonymous</a>
                            <a *ngIf="post.authorName != null" class="username" href="">{{post.authorName}}</a>
                        </span>
                    </span>
                    <hr />
                    <a routerLink="post/post.id" class="post-title">{{post.title}}</a>
                    <div>
                        <p class="post-text" [innerHtml]="post.description"></p>
                    </div>

                    <div class="post-comment">
                        <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                            <div class="mb-4">
                                <textarea class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" [formControlName]="'text'" placeholder="Your Thoughts?"></textarea>
                            </div>
                            <button type="submit" class="login commentBtn float-right">Comment</button>
                        </form>
                    </div>

                    <div style="margin-top: 60px;" *ngFor="let comment of comments">
                        <div class="comment">
                            <div class="username">
                                <a routerLink="/user/comment.username">{{comment.authorName}}</a>
                            </div>
                            <div>
                                <p>{{comment.createdDate}}</p>
                            </div>
                            <b>{{comment.text}}</b>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="md:w-1/4 pr-4 pl-4">
            <sidebar></sidebar>
            <sidebar-view-subreddit></sidebar-view-subreddit>
        </div> -->
    </div>
</div>